$bg : #f1f5f8;
$blue : #002a5b;
$green: #45da6f;
$light-gray: #b0bece;
$dark-gray: #B0BECE;
$fb-color-bg: #2f77bf;
$fb-color-border: #114c86;
$g-color-border: #d7d7d7;
$placeholder: #d7e2e8;


html,body{
	color: $blue;
	font-family: 'Montserrat', sans-serif;
	
	font-kerning: normal;
	text-rendering: optimizeLegibility;
}

.container{

	background: $bg;
	width: 375px;
	margin: 0 auto;

	.mobile-bar {
		height:40px;
		position: relative;
		z-index: 2;

		img{
			width: 375px;
			margin-top: 17px;
		}
	}

	.bg-seal{
		background: url(../images/logbg_w.svg) no-repeat;
		width:246px;
		height:246px;
		position: relative;

		top: -166px;
		left: 62px;
		z-index: 1;

		margin-bottom: -230px;
	}

	.bg-seal-login{
		background: url(../images/logbg_w.png) center bottom;
		background-size: cover;
		width: 148px;
		height: 74px;
		position: relative;
		z-index: 1;
		left: 50%;
		margin-left: -80px;
		margin-top: -40px;
	}

	.logo{
		width:196px;
		margin: 0 auto 30px auto;

		img{
			width: 100%;
		}
	}

	.content{
		padding: 15px;
	}

	.actions {
		padding: 0 15px;

		ul{
			margin:0;
			padding:0;
			list-style-type: none;
			clear:both;
			
		}

		li:first-child{
			float: left
		}

		li:last-child{
			float: right;
			position: relative;

			.greenlight{
				position: absolute;
			}
		}
	}

	.profile{
		clear: both;
		text-align: center;
		position: relative;
		z-index: 2;

		h1{
			font-size: 20px;
			font-weight: 600;
			margin:0;
		}
	}

	.add-complaint{
		margin: 44px 0 10px 0;

		ul{
			list-style-type: none;
			margin: 0;
			padding:0;
			text-align: center;
		}

		li{
			background:$green;
			display:inline-block;
			padding: 10px;
			text-align: center;
			width:144px;
			border-radius:5px;
			clear: both;
			margin-right: 15px;
			box-shadow: 0px 5px 5px rgba(69, 218, 111, 0.22);

			&:first-child img{
				margin: 7px 0 0 0;
			}

			&:last-child{
				margin-right: auto;
			}
			
			img{
				vertical-align: middle;
				float: left;
				margin: 3px 0 0 3px;
			}

			a{
				color: white;
			}

			span{
				display:inline-block;
				float: left;
				width: 100px;
				text-align: left;
				font-weight: 600;
				margin-left: 10px;
			}
		}
	}

	.notification{
		width:345px;
		margin:0 auto 30px auto;
		font-size:12px;
		font-weight: 500;
		color:white;
		background: $blue;
		padding: 15px;
		border-radius:5px;
		height:70px;
		box-sizing:border-box;
	
		p{
			margin: 0 0 10px 0;
		}

		a{
			float: right;
			color:$green;
			text-decoration: none;

			img{
				vertical-align: middle;
				margin-left: 5px;
			}
		}
	}

	.complaints{
		box-sizing:border-box;
		padding: 0 15px 15px 15px;
		h2{
			margin: 0;
			color:$light-gray;
			font-size: 18px;
			margin-bottom: .5rem;
		}

		ul{
			list-style-type: none;
			margin:0;
			padding: 0;

			li{
				background: white;
				border-radius: 5px;
				margin-bottom: 10px;
				box-shadow: 0px 5px 5px rgba(100, 108, 178, 0.13);
				padding:20px 15px;
				display: flex;
				flex-directon: row;
				justify-content:flex-start;
				align-items: stretch;
				align-content: stretch;

				div{
					margin-right: 5px;
					img{
						margin-top: 20px;
					}
				}

				article{
					width: 270px;
					a{
						color: $blue;
						text-decoration: none;
					}
			
					.brand{
						font-size: 13px;
						color:$light-gray;
					}
					.title{
						font-weight: 600;
						font-size: 17px;
						margin-bottom: 10px;
					}
					.text{
						font-size: 14px;
						margin-bottom: 10px;
					}
					.action{
						font-size: 14px;
						font-weight: 600;
						margin-bottom: 10px;
					}
					time{
						color:$light-gray;
						font-size: 12px;
					}

					.greenlight{
						left:-10px;
						margin-right: -5px;
						vertical-align: middle;
					}
				}
			}

			li:last-child{
				margin-bottom: 0;
			}

			li.inactive{
				img{
					opacity: .3;
				}
				.title{
					opacity: .3;
				}
			}
		}
	}

	.showmore{
		button{
			border:none!important;
			font-weight: 500;

			&:hover{
				text-decoration: underline;
				color:$blue!important;
				background-color: transparent!important;
			}
		}
	}

	.showmore,
	.complaint-actions{
		box-sizing: border-box;

		button{
			display: block;
			width: 345px;
			margin:0 15px 10px 15px;
			padding: 15px;
			font-size: 16px;
			border:1px solid $blue;
			background-color: transparent;
			border-radius: 5px;
			font-family: 'Montserrat', sans-serif;
			color:$blue;
			cursor: pointer;

			&:hover{
				color:white;
				background-color: $blue;
			}
		}
	}

	.complaint-actions {
		button:last-child{
			margin:0 15px 20px 15px;
		}
	}
	
	footer{
		font-size: 12px;
		background-color: $green;
		border-radius: 8px 8px 0 0;
		color:white;
		padding: 1rem;
		height:3rem;
		position: relative;
		font-weight: 500;

		img{
			vertical-align: middle;
			margin-left: .4rem;
		}

		a{
			color:white;
			text-decoration: none;
		}
	}

	.indicator{
		background-color: black;
		width: 135px;
		height: 5px;
		border-radius: 5px;
		top: 65px;
		position: absolute;
		left: 50%;
		margin-left: -67px;
	}

	.greenlight{
		width:6px;
		height:6px;
		border-radius: 6px;
		display:inline-block;
		background-color: $green;
		position: relative;
	}

	.login-with-social,.login-with-email,.login,.register,.login-form{
		text-align: center;
	}
	
	.login-with-social p{
		font-size: 14px;
		margin-bottom: 30px;
	}

	.fb-g{
		button{
			font-family: 'Montserrat', sans-serif;
			font-size: 16px;
			font-weight: 600;
			border-radius: 10px;
			width: 165px;
			padding:0;
			cursor:pointer;

			img{
				vertical-align: middle;
			}

			&:first-child{
				background: $fb-color-bg;
				border: 1px solid $fb-color-border;
				color:white;
				margin-right: 15px;
				height: 44px;
				line-height: 42px;

				span{
					border-left: 1px solid $fb-color-border;
					display: inline-block;
					padding: 0 0 0 12px;
				}

				img{
					width:12px;
					margin-right: 15px;
					margin-left: -3px;
				}
			}

			&:last-child{
				background: #fff;
				border: 1px solid $g-color-border;
				color:#343434;
				height: 44px;
				line-height: 42px;

				span{
					border-left: 1px solid $g-color-border;
					display: inline-block;
					padding: 0 0 0 32px;
				}

				img{
					width: 22px;
					margin-right: 12px;
					margin-left: -6px;
				}
			}
		}
	}

	.login-with-email{
		margin:30px 0;

		p{
			font-size:14px;
			margin: 0;
		}
	}

	.login-form{
		padding: 0 15px;

		.remember{
			float: left;
			vertical-align: middle;
		}

		.remember label {
		  display: block;
		  position: relative;
		  padding-left: 35px;
		  margin-bottom: 12px;
		  cursor: pointer;
		  font-size: 12px;
		  -webkit-user-select: none;
		  -moz-user-select: none;
		  -ms-user-select: none;
		  user-select: none;
		}

		.remember label input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
		}

		.checkmark {
			position: absolute;
			top: -5px;
			left: 0;
			height: 25px;
			width: 25px;
			background-color: $bg;
			border: 2px solid $dark-gray;
			border-radius: 4px;
		}

		.remember label input:checked ~ .checkmark {

		}

		.checkmark:after {
		  content: "";
		  position: absolute;
		  display: none;
		}

		.remember label input:checked ~ .checkmark:after {
		  display: block;
		}

		.remember label .checkmark:after {
		 	left: 7px;
			top: 3px;
			width: 7px;
			height: 12px;
			border: solid $blue;
			border-width: 0 4px 4px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			border-radius: 3px;
		}

		.form-control{
			clear: both;
			box-sizing:border-box;

			input[type="text"],input[type="password"]{
				margin-bottom: 15px;
			}

			input[type="text"],input[type="password"]{
				box-sizing:border-box;
				color: $blue;
				border:1px solid $placeholder;
				border-radius: 5px;
				width: 345px;
				padding: 15px;
				font-size: 15px;
			}
		}

		.forgot-pass{
			float: right;
			font-size: 12px;
			color: $blue!important;

			a{
				color: $blue;
				text-decoration: underline;

				&:hover{
					text-decoration: none;
				}
			}
		}

		.reveal-pass{
			position: relative;

			img{
				position: absolute;
				top: -48px;
				right: 20px;
				width: 26px;
			}
		}
	}

	.login{
		margin-top: 110px;

		button{
			display: block;
			width: 345px;
			margin:0 0 10px 0;
			padding: 15px;
			font-size: 16px;
			font-weight: 600;
			color:white;
			background-color: $green;
			border:none;
			border-radius: 5px;
			font-family: 'Montserrat', sans-serif;
			cursor: pointer;
		}
	}

	hr{
		border-top:1px dashed red;
	}

	.register{
		margin:15px 0 30px 0;
		font-size: 14px;
		a{
			color:$blue;
			text-decoration: none;
		}
	}
}



