doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Şikayet Var
  body
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, repellat laboriosam architecto aut obcaecati nam, vel doloribus illum neque incidunt minus, distinctio accusantium tenetur. Accusamus laboriosam nulla et facilis dicta?