doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Şikayet Var
        link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap", rel="stylesheet")
        script(src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js", defer)
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js", defer)
        link(rel="stylesheet" href="css/styles.css")
    body
        .container
            .mobile-bar
                img(src="images/mobile-bar2.png")

            .bg-seal
                

            footer
                a(href="#")
                    | Yazılan şikayetleri incelemek için sikayetvar.com’a git
                    img(src="images/right-chevron-white.svg")
                .indicator
