html, body {
  color: #002a5b;
  font-family: 'Montserrat', sans-serif;
  font-kerning: normal;
  text-rendering: optimizeLegibility; }

.container {
  background: #f1f5f8;
  width: 375px;
  margin: 0 auto; }
  .container .mobile-bar {
    height: 40px;
    position: relative;
    z-index: 2; }
    .container .mobile-bar img {
      width: 375px;
      margin-top: 17px; }
  .container .bg-seal {
    background: url(../images/logbg_w.svg) no-repeat;
    width: 246px;
    height: 246px;
    position: relative;
    top: -166px;
    left: 62px;
    z-index: 1;
    margin-bottom: -230px; }
  .container .bg-seal-login {
    background: url(../images/logbg_w.png) center bottom;
    background-size: cover;
    width: 148px;
    height: 74px;
    position: relative;
    z-index: 1;
    left: 50%;
    margin-left: -80px;
    margin-top: -40px; }
  .container .logo {
    width: 196px;
    margin: 0 auto 30px auto; }
    .container .logo img {
      width: 100%; }
  .container .content {
    padding: 15px; }
  .container .actions {
    padding: 0 15px; }
    .container .actions ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      clear: both; }
    .container .actions li:first-child {
      float: left; }
    .container .actions li:last-child {
      float: right;
      position: relative; }
      .container .actions li:last-child .greenlight {
        position: absolute; }
  .container .profile {
    clear: both;
    text-align: center;
    position: relative;
    z-index: 2; }
    .container .profile h1 {
      font-size: 20px;
      font-weight: 600;
      margin: 0; }
  .container .add-complaint {
    margin: 44px 0 10px 0; }
    .container .add-complaint ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center; }
    .container .add-complaint li {
      background: #45da6f;
      display: inline-block;
      padding: 10px;
      text-align: center;
      width: 144px;
      border-radius: 5px;
      clear: both;
      margin-right: 15px;
      box-shadow: 0px 5px 5px rgba(69, 218, 111, 0.22); }
      .container .add-complaint li:first-child img {
        margin: 7px 0 0 0; }
      .container .add-complaint li:last-child {
        margin-right: auto; }
      .container .add-complaint li img {
        vertical-align: middle;
        float: left;
        margin: 3px 0 0 3px; }
      .container .add-complaint li a {
        color: white; }
      .container .add-complaint li span {
        display: inline-block;
        float: left;
        width: 100px;
        text-align: left;
        font-weight: 600;
        margin-left: 10px; }
  .container .notification {
    width: 345px;
    margin: 0 auto 30px auto;
    font-size: 12px;
    font-weight: 500;
    color: white;
    background: #002a5b;
    padding: 15px;
    border-radius: 5px;
    height: 70px;
    box-sizing: border-box; }
    .container .notification p {
      margin: 0 0 10px 0; }
    .container .notification a {
      float: right;
      color: #45da6f;
      text-decoration: none; }
      .container .notification a img {
        vertical-align: middle;
        margin-left: 5px; }
  .container .complaints {
    box-sizing: border-box;
    padding: 0 15px 15px 15px; }
    .container .complaints h2 {
      margin: 0;
      color: #b0bece;
      font-size: 18px;
      margin-bottom: .5rem; }
    .container .complaints ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .container .complaints ul li {
        background: white;
        border-radius: 5px;
        margin-bottom: 10px;
        box-shadow: 0px 5px 5px rgba(100, 108, 178, 0.13);
        padding: 20px 15px;
        display: flex;
        flex-directon: row;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch; }
        .container .complaints ul li div {
          margin-right: 5px; }
          .container .complaints ul li div img {
            margin-top: 20px; }
        .container .complaints ul li article {
          width: 270px; }
          .container .complaints ul li article a {
            color: #002a5b;
            text-decoration: none; }
          .container .complaints ul li article .brand {
            font-size: 13px;
            color: #b0bece; }
          .container .complaints ul li article .title {
            font-weight: 600;
            font-size: 17px;
            margin-bottom: 10px; }
          .container .complaints ul li article .text {
            font-size: 14px;
            margin-bottom: 10px; }
          .container .complaints ul li article .action {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 10px; }
          .container .complaints ul li article time {
            color: #b0bece;
            font-size: 12px; }
          .container .complaints ul li article .greenlight {
            left: -10px;
            margin-right: -5px;
            vertical-align: middle; }
      .container .complaints ul li:last-child {
        margin-bottom: 0; }
      .container .complaints ul li.inactive img {
        opacity: .3; }
      .container .complaints ul li.inactive .title {
        opacity: .3; }
  .container .showmore button {
    border: none !important;
    font-weight: 500; }
    .container .showmore button:hover {
      text-decoration: underline;
      color: #002a5b !important;
      background-color: transparent !important; }
  .container .showmore,
  .container .complaint-actions {
    box-sizing: border-box; }
    .container .showmore button,
    .container .complaint-actions button {
      display: block;
      width: 345px;
      margin: 0 15px 10px 15px;
      padding: 15px;
      font-size: 16px;
      border: 1px solid #002a5b;
      background-color: transparent;
      border-radius: 5px;
      font-family: 'Montserrat', sans-serif;
      color: #002a5b;
      cursor: pointer; }
      .container .showmore button:hover,
      .container .complaint-actions button:hover {
        color: white;
        background-color: #002a5b; }
  .container .complaint-actions button:last-child {
    margin: 0 15px 20px 15px; }
  .container footer {
    font-size: 12px;
    background-color: #45da6f;
    border-radius: 8px 8px 0 0;
    color: white;
    padding: 1rem;
    height: 3rem;
    position: relative;
    font-weight: 500; }
    .container footer img {
      vertical-align: middle;
      margin-left: .4rem; }
    .container footer a {
      color: white;
      text-decoration: none; }
  .container .indicator {
    background-color: black;
    width: 135px;
    height: 5px;
    border-radius: 5px;
    top: 65px;
    position: absolute;
    left: 50%;
    margin-left: -67px; }
  .container .greenlight {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    display: inline-block;
    background-color: #45da6f;
    position: relative; }
  .container .login-with-social, .container .login-with-email, .container .login, .container .register, .container .login-form {
    text-align: center; }
  .container .login-with-social p {
    font-size: 14px;
    margin-bottom: 30px; }
  .container .fb-g button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    width: 165px;
    padding: 0;
    cursor: pointer; }
    .container .fb-g button img {
      vertical-align: middle; }
    .container .fb-g button:first-child {
      background: #2f77bf;
      border: 1px solid #114c86;
      color: white;
      margin-right: 15px;
      height: 44px;
      line-height: 42px; }
      .container .fb-g button:first-child span {
        border-left: 1px solid #114c86;
        display: inline-block;
        padding: 0 0 0 12px; }
      .container .fb-g button:first-child img {
        width: 12px;
        margin-right: 15px;
        margin-left: -3px; }
    .container .fb-g button:last-child {
      background: #fff;
      border: 1px solid #d7d7d7;
      color: #343434;
      height: 44px;
      line-height: 42px; }
      .container .fb-g button:last-child span {
        border-left: 1px solid #d7d7d7;
        display: inline-block;
        padding: 0 0 0 32px; }
      .container .fb-g button:last-child img {
        width: 22px;
        margin-right: 12px;
        margin-left: -6px; }
  .container .login-with-email {
    margin: 30px 0; }
    .container .login-with-email p {
      font-size: 14px;
      margin: 0; }
  .container .login-form {
    padding: 0 15px; }
    .container .login-form .remember {
      float: left;
      vertical-align: middle; }
    .container .login-form .remember label {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 12px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .container .login-form .remember label input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0; }
    .container .login-form .checkmark {
      position: absolute;
      top: -5px;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #f1f5f8;
      border: 2px solid #B0BECE;
      border-radius: 4px; }
    .container .login-form .checkmark:after {
      content: "";
      position: absolute;
      display: none; }
    .container .login-form .remember label input:checked ~ .checkmark:after {
      display: block; }
    .container .login-form .remember label .checkmark:after {
      left: 7px;
      top: 3px;
      width: 7px;
      height: 12px;
      border: solid #002a5b;
      border-width: 0 4px 4px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      border-radius: 3px; }
    .container .login-form .form-control {
      clear: both;
      box-sizing: border-box; }
      .container .login-form .form-control input[type="text"], .container .login-form .form-control input[type="password"] {
        margin-bottom: 15px; }
      .container .login-form .form-control input[type="text"], .container .login-form .form-control input[type="password"] {
        box-sizing: border-box;
        color: #002a5b;
        border: 1px solid #d7e2e8;
        border-radius: 5px;
        width: 345px;
        padding: 15px;
        font-size: 15px; }
    .container .login-form .forgot-pass {
      float: right;
      font-size: 12px;
      color: #002a5b !important; }
      .container .login-form .forgot-pass a {
        color: #002a5b;
        text-decoration: underline; }
        .container .login-form .forgot-pass a:hover {
          text-decoration: none; }
    .container .login-form .reveal-pass {
      position: relative; }
      .container .login-form .reveal-pass img {
        position: absolute;
        top: -48px;
        right: 20px;
        width: 26px; }
  .container .login {
    margin-top: 110px; }
    .container .login button {
      display: block;
      width: 345px;
      margin: 0 0 10px 0;
      padding: 15px;
      font-size: 16px;
      font-weight: 600;
      color: white;
      background-color: #45da6f;
      border: none;
      border-radius: 5px;
      font-family: 'Montserrat', sans-serif;
      cursor: pointer; }
  .container hr {
    border-top: 1px dashed red; }
  .container .register {
    margin: 15px 0 30px 0;
    font-size: 14px; }
    .container .register a {
      color: #002a5b;
      text-decoration: none; }
